@use '../../../styles/variables' as v;

.form {
  background: v.$color-lightest;
  display: flex;
  height: v.$form-height;
  line-height: v.$form-height;

  &-input,
  &-button {
    background: transparent;
    // border: 0;
    height: 100%;
    // outline: none;
  }

  &-input {
    flex-grow: 1;
    padding: 0 v.$gutter * 2;
  }

  &-button {
    color: v.$color;
    cursor: pointer;
    font-weight: 700;
    transition: color 0.3s linear;
    width: v.$form-height;

    &:hover {
      color: v.$color-dark;
    }
  }
}
