@use 'reset';
@use 'variables' as v;

* {
  scroll-behavior: smooth;
}

body {
  background: v.$color-dark;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
